.content {
    border: 5px solid #e1bee7;
    background-color: #fff1ff;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    row-gap: 5rem;
}

.item {
    border: 5px solid #00bcd4;
    font-size: 4rem;
}

.globo11 {
    grid-column: 1;
    grid-row: 1;
}

.globo15 {
    grid-column: 5;
    grid-row: 1;
}

.globo22 {
    grid-column: 2;
    grid-row: 2;
}

.globo42 {
    grid-column: 4;
    grid-row: 2;
}

.saludo {
    grid-column: 3;
    grid-row: 1;
    Place-self: end;

    font-size: 50px;
    text-align: center;
}



